@mixin img{background:url(../assets/img.png) no-repeat; }
@mixin print{height:200px;width:200px;background-position: 0 0;}
@mixin notebook{height:200px;width:200px;background-position: -200px 0;}
@mixin setup{height:200px;width:200px;background-position: -400px 0;}
@mixin test_1{height:200px;width:200px;background-position: -600px 0;}
@mixin test{height:200px;width:200px;background-position: -800px 0;}
@mixin lock{height:200px;width:200px;background-position: -1000px 0;}
@mixin calendar{height:200px;width:200px;background-position: -1200px 0;}
@mixin bank{height:200px;width:200px;background-position: -1400px 0;}
@mixin draw{height:200px;width:200px;background-position: -1600px 0;}
@mixin jianpan_1{height:200px;width:200px;background-position: -1800px 0;}
@mixin jianpan{height:200px;width:200px;background-position: -2000px 0;}